@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
}
body {
  background-color: white;
  padding: 10px;
  -webkit-user-select: none; /* Safari, Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.bg-img{
  background-image: url(../src/images/footer-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
input , textarea , select{
  outline: none;
  height: 50px;
  border-radius: 7px;
}
textarea {
  outline: none;
  height: 200px;
  border-radius: 7px;
  padding: 10px;
}
.animated-box {
  margin-right: 7.5px;
  animation: scaleAnimation 2s infinite; /* Apply animation */
}

/* Define the keyframes for scaling */
@keyframes scaleAnimation {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.5); /* Increase size */
  }
  100% {
    transform: scale(1); /* Back to original size */
  }
}